
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link href="~/Content/public/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/public/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/public/js/bootstrap.min.js"></script>
</head>
<body>

    <div style="margin-top:20px;" class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <form class="form-group" action="" method="post">
                <div class="panel-heading">
                    Parolamı unuttum
                </div>
                <div class="panel-body">
                    <input class="form-control" type="email" name="Email" placeholder="E-Posta adresiniz" value=" " />
                    <br />
                    <input class="btn btn-default" type="submit" name="name" value="Yolla" />
                </div>
            </form>

        </div>
    </div>
    
</body>
</html>
